const config = {
    // Path to plugin config file
    configFile: "",

    jukeLooper: {
        // Path to JukeLooper config file (if enabled)
        configFile: "",

        // Whether to use JukeLooper integration
        enabled: false
    },

    // Temp directory to write files to
    tempDir: ""
};

module.exports = config;
