extends ../dashboard

block pluginStylesheets
    link(rel='stylesheet' href='/stylesheets/admin/statistics.css')

block pluginContent
    iframe(src=path).w-100.vh-100
        p An error occurred loading the plan iframe.
