extends dashboard

block pluginStylesheets
    link(rel="stylesheet" href="/stylesheets/account.css")

block pluginContent
    nav.navbar.navbar-light.bg-light#top-navbar
        div.container-fluid.align-items-center
            span.navbar-brand.h1.m-0 Your Account

    div.container
        div.row
            div.col-sm-1.col-md-3

            div.col-sm-10.col-md-6
                div.d-flex.justify-content-left.align-items-center#details-div
                    img(src=user.image).rounded-circle#image

                    span#details-info
                        h5= user.username
                        p.no-margin.text-secondary= `UUID: ${user.uuid}`
                        p.no-margin.text-secondary= joinDate

                div.separator

                div
                    h6(style="padding-bottom: 1em") Change Password
                    form(action="/account/password" method="POST" onsubmit="onFormSubmit()")
                        div.row.d-flex
                            div.col-sm-12.col-xl-4.p-sm-3
                                label(for="old") Current Password
                                div.input-group
                                    input(type="password" name="old" required).form-control#password-old

                            div.col-sm-12.col-xl-4.p-sm-3
                                label(for="new") New Password
                                div.input-group
                                    input(type="password" name="new" minlength="8" required).form-control#password-new

                            div.col-sm-12.col-xl-4.p-sm-3.d-flex.justify-content-center.align-self-end
                                button(role='submit').btn.btn-primary#password-submit Change Password

                div#password-div

            div.col-sm-1.col-md-3

    script(src="/javascripts/account.js")
