#button-wrapper {
    position: relative;
}

#button-wrapper > button {
    bottom: 0;
}

#details-div {
    padding-top: 10vh;
}

#details-info {
    padding-left: 2em;
}

#image {
    height: auto;
    max-width: 6em;
}

.options {
    padding-left: 1em;
}

#top-navbar {
    border-bottom: lightgray 1px solid;
}
