#flash-div {
    z-index: 10;
}

#flash-icon {
    margin-right: 0.5em;
    font-size: 1.2em;
}

.no-margin {
    margin: 0;
}

.separator {
    border-top: 1px solid lightgray;
    margin-top: 1.5em;
    margin-bottom: 1.2em;
}