body, html {
    height: 100%;
    margin: 0;
}

#avatar {
    margin-right: 1em;
    max-height: 2.5em;
}

#logo {
    margin-bottom: 0;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
}

#logo-container {
    margin-bottom: 0 !important;
}

#pluginContent {
    height: 100%;
    max-height: 100%;
    padding-left: 15em;
}

.progress-label {
    position: absolute;
    display: block;
    width: 75%;
    text-align: center;
}

#sidebar {
    height: 100%;
    min-height: 100%;
    position: fixed;
    width: 15em;
}

#server-name {
    color: rgb(170, 170, 170);
    margin-bottom: 0;
    margin-top: 0.75em;
    text-align: center;
}

#storage i {
    color: silver;
    margin-left: 0.2em;
    margin-right: 0.7em;
}

#storage > .progress {
    background-color: rgb(50, 55, 75);
    border-radius: 2em;
    height: 1.15em;
}

.account-button {
    color: silver;
    margin-right: 0.5em;
}

.nav-link i {
    margin-right: 1em;
}
