body, html {
    height: 100%;
    margin: 0;
}

#avatar {
    max-height: 2.5em;
}

#avatar:hover {
    opacity: 50%;
}

.logo {
    margin-bottom: 0;
    height: 3em;
}

.nav-link {
    transition: background-color 300ms;
}

.nav-link:hover {
    background-color: #363644;
}

#logo-container {
    margin-bottom: 0 !important;
}

#pluginContent {
    height: 100%;
    max-height: 100%;
    transition: padding-left 300ms;
}

#pluginContent.content-sm {
    padding-left: 15em;
}

#pluginContent.content-lg {
    padding-left: 5em;
}

.progress-label {
    position: absolute;
    display: block;
    width: 75%;
    text-align: center;
}

#sidebar {
    height: 100%;
    min-height: 100%;
    position: fixed;
    transition: width 300ms;
}

#sidebar.content-sm {
    width: 15em;
}

#sidebar.content-lg {
    width: 5em;
}

#server-name {
    color: rgb(170, 170, 170);
    margin-bottom: 0;
    margin-top: 0.75em;
    text-align: center;
}

#storage i {
    color: silver;
    margin-left: 0.2em;
    margin-right: 0.7em;
}

#storage > .progress {
    background-color: rgb(50, 55, 75);
    border-radius: 2em;
    height: 1.15em;
}

.account-button {
    transition: color 300ms;
    color: silver;
}

.account-button:hover {
    color: white;
}

.icon-separator {
    margin-right: 1em;
}
