const secrets = {
    // Credentials for initial admin login
    admin: {
        username: "",
        password: ""
    },

    // Secret used to hash session tokens
    session: ""
};

module.exports = secrets;